*{
    margin: 0px;
    padding: 0px;
}

body{
    
    border: none;
    padding: none;    
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: black;
    color: white;
    padding: 10px;    
    font-family: "Outfit Thin";
    font-size: 12px;
    padding-left: 20px;
    user-select: none;
}



footer{
    display: none;    
    position: fixed;    
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;    
    font-size: 12px;
    user-select: none;
}

.MainDiv{    
    display: flex;        
}

.bar{
    position: fixed;
    height: 100%;        
    padding: 10px 0px 0px 20px;
    background-color: #222;        
    width: 160px;
    user-select: none;
}

.options{
    margin-top: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.options :hover{
    color: blueviolet;
    padding-left: 5px;
    border: solid;
    border-color: blueviolet;
    border-width: 0px 0px 0px 2.5px;
}

.page{        
    color: white;
    text-decoration: none;
    font-family: "Outfit";
    font-size: 12px;
    margin: 5px 0px;
    user-select: none;
}

.content{       
    
    right: 0;
    margin: 20px 20px 20px 200px;
    padding: 20px;
    user-select: none;
}

.title{
    font-family: "Outfit";
    font-size: 18px;
    margin: 20px 0px 70px 0px;
    user-select: none;
}

.text{
    text-align: justify;
    font-family: "Outfit";
    font-size: 14px;
    font-weight: 380;
    user-select: none;
}

@media screen and (max-width: 768px) {
    
    *{
        width: auto;
    }

    .bar{
        display: none;
    }

    .content{        
        padding:50px;
        margin: 10px -15px;
    }

    
    footer{
        display: flex;
        height: 20px;        
    }
    
    

    footer a{        
        justify-content: center;
        text-align: left;
        font-family: "Outfit";
        font-weight: 200;
    }
    
    footer a:hover{
        color: blueviolet; 
               
    }

    

    .footerPage{
        margin: 10px;
        text-decoration: none;
        font-family: "Outfit";
        color: white;
        
    }

}

.questions{
    
    margin-top: -30px;            
}

.Question{
    text-align: left;
    color: black;       
    font-family: "Outfit Semibold";
    margin-top: 50px;            
    text-align: justify;
    font-size: 16px;   
    
}

.Response{                 
    margin-top: 15px;
    margin-bottom: 50px;
    font-family: "Outfit";    
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
}

.Solution{
    color: black;
    font-family: "Outfit Semibold";            
    margin-top: -50px;
    text-align: justify;
    font-size: 14px;
}

.SolutionText{
    font-family: "Outfit";
    font-weight: 400;    
    margin-bottom: 30px;
    text-align: justify;
    font-size: 14px;    
}

.QuestionDiv{        
    border-width: 0px 0px 0px 0px;
    margin-bottom: 0px;    
    margin-top: 70px;    
}

.terms{
    margin-top: -30px;
    text-align: justify;
    font-family: "Outfit";
    font-size: 14px;
    font-weight: 380;
    user-select: none;   
}

.items h1{
    font-family: "Outfit Semibold";
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: -20px;
}